@model SecretSantaMVC.Models.NameEmailModel
@*
 * Partial view for the Secret Santa form. Fields are posted
 * to the controller and bound to a NameEmailModel object.
 *@
<form asp-action="SendEmail">
    <br>
    <div class="nameemail">
        <input asp-for="Name" class="formname" type="text" placeholder="Enter a name!" maxlength="30" name="name" required>
        <input asp-for="Email" class="formemail" type="email" placeholder="Enter an email address!" maxlength="30" name="email" required>
    </div>
    <div class="nameemail">
        <input asp-for="Name" class="formname" type="text" placeholder="Enter a name!" maxlength="30" name="name" required>
        <input asp-for="Email" class="formemail" type="email" placeholder="Enter an email address!" maxlength="30" name="email" required>
    </div>
    <div class="nameemail">
        <input asp-for="Name" class="formname" type="text" placeholder="Enter a name!" maxlength="30" name="name" required>
        <input asp-for="Email" class="formemail" type="email" placeholder="Enter an email address!" maxlength="30" name="email" required>
    </div>
    <div id="newElementId"></div>
    <br>
    <div id="secretsantaformbuttons">
        <input class="secretsantaformbutton" type="submit" name="submit" value="Submit">
        <input class="secretsantaformbutton" type="button" value="+" onclick="createNewInput();" />
        <input class="secretsantaformbutton" type="button" value="-" onclick="deleteInput();" />
        <script type="text/JavaScript">
            @*
             * Script allowing for the dynamic rendering of extra input fields
             *@
            function createNewInput() {
                var txtNewInputBox = document.createElement('div');
                txtNewInputBox.innerHTML = "<input asp-for='Name' type='text' class='formextraname' placeholder='Enter a name!' maxlength='30' name='name' required><input asp-for='Email' type='email' class='formextraemail' placeholder='Enter an email address!' maxlength='30' name='email' required>";
                document.getElementById("newElementId").appendChild(txtNewInputBox);
            }
        </script>
        <script>
            @*
             * Script allowing for the dynamic deletion of extra input fields
             *@
            function deleteInput() {
                var elemName = document.getElementsByClassName('formextraname')[document.getElementsByClassName('formextraname').length - 1];
                var elemEmail = document.getElementsByClassName('formextraemail')[document.getElementsByClassName('formextraemail').length - 1];
                elemName.parentNode.removeChild(elemName);
                elemEmail.parentNode.removeChild(elemEmail);
            }
        </script>
    </div>
    <br>
</form>